# ================================================
# PUBLIC ENV VARS
# ================================================

NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_RECAPTCHA_V3_SITE_KEY=

# ================================================
# SERVER ENV VARS
# ================================================

JWT_SECRET=
AES_CRYPTO_KEY=

POSTGRES_DB_URL=

GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_RECAPTCHA_V3_SECRET_KEY=

RESEND_API_KEY=
APP_REVIEW_EMAIL_ADDRESSES= # One or more email addresses separated by commas
